/* 13 */
/* 
ul li:nth-child(3) {
  border: 10px solid tomato;
} */

/* impar */
/* ul li:nth-child(2n + 1) {
  border: 10px solid green;
}

/* par */
/*
ul li:nth-child(2n) {
  border: 10px solid blueviolet;
}
*/

/* impar */
ul li:nth-child(odd) {
  border: 10px solid green;
}

/* par */
ul li:nth-child(even) {
  border: 10px solid blueviolet;
}
